/*--------------------------------------------------------------------------------------------------------------------------
                                                        GENERALE
----------------------------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Cantarell:400,700&display=swap');

body {
    font-family: Cantarell;
    margin: 0px;
}
h1 {
    margin: 0px 0px 10px 0px;
    font-size: 45px;
    color: white;
    font-weight: bold;
}
h2 {
    font-size: 35px;
    color:#A2A2A2;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
}
p{
    font-size: 22px;
    margin: 20px 0px 15px 0px;
    color: #2e2e2e;
}
.hr-yellow {
    background-color: #FFE814;
    border:none;
    height: 16px;
}
.hr-banner {
    width: 134px;
    margin-right: 0;
}
.hr-center {
    width: 150px;

}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #FFE814;
}
a:active {
    color: #ffc400;
}
.container {
    padding-top: 70px;
    padding-bottom: 100px;
    min-height: 600px;
    background-color: #F3F3F3;
}
input[type=text], input[type=email], input[type=textarea], textarea{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: none;
    color: #999999;
    font-size: 20px;
}
textarea {
    font-family: Cantarell;
}
.btn-yellow {
    width: 200px;
    margin: 25px auto 25px auto;
    padding: 1.5rem;
    background-color: #FFD814;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.btn-large {
    width: 400px;
}
.btn-yellow:hover {
    background-color: #eeb312;
}
.btn-yellow:active {
    background-color: #dba612;
}
.services-nav-block, .btn-yellow {
    cursor: pointer;
}

/*--------------------------------------------------------------------------------------------------------------------------
                                                        Header
----------------------------------------------------------------------------------------------------------------------------*/
header {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #2D2B2B;
    color: white;
    z-index: 99999;

}
.out-header {
    width: 100%;
    height: 80px;
}
.hnav {
    display: flex;
    margin-top:40px;
    margin-right: 100px;
}
.hnav-a {
    margin-left:50px;
}
.logo {
    background: #1f1f1f;
    width: 200px;
}


/*--------------------------------------------------------------------------------------------------------------------------
                                                        banner
----------------------------------------------------------------------------------------------------------------------------*/

.banner {
    display: table-cell;
    vertical-align: middle;
    width:100000px;
    height: 472px;
    padding: 0px 100px 0px 100px;
    background: url('http://localhost:8001/public/images/banner.jpg') no-repeat center center;
    background-size: cover;
    text-align: right;
}

.banner p {
    display: inline-block;
    right:0;
    width: 50%;
    min-width: 500px;
    color: white;
}

/*--------------------------------------------------------------------------------------------------------------------------
                                                        Footer
----------------------------------------------------------------------------------------------------------------------------*/

footer {
    display: flex;
    width:100%;
    height: 230px;
    background-color: #1f1f1f;
    color: white;
    text-align: center;
}

.fdiv {
    display: flex;
    flex-direction: column;
    width: 320px;

}

.fdiv-rborder {
    border-right: #4e4e4e 1px solid;
}
.fdiv-white {
    background-color : #f1f0f0;
}
.fdiv-white, .fdiv-white a {
    color : #272727;
}
.fdiv-white a:hover {
    color:#f5d51d;
}
.fdiv-white a:active {
    color: #ffc400;
}
.fdiv-icon {
    margin: 0px auto 10px auto;
}

.fdiv-icon-location {
    width: 34px;
    margin-top: 55px;
}
.fdiv-icon-mail {
    width: 51px;
    margin-top: 75px;
}
.fdiv-icon-phone {
    width: 50px;
    margin-top: 75px;
}
.fdiv-white {
    padding-top: 55px;
}

/*--------------------------------------------------------------------------------------------------------------------------
                                                        Home
----------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------------
                                                        Contact
----------------------------------------------------------------------------------------------------------------------------*/
.contact-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1200px;
}

/*--------------------------------------------------------------------------------------------------------------------------
                                                        Services
----------------------------------------------------------------------------------------------------------------------------*/
.services-nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
    margin: 50px auto 70px auto; 
}

.services-nav-block {
    position: relative;
    width: 24%;
    height: 370px;
}
.snav-block-content {
    padding:10%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

#tools {background-color: #000000;}
#tools:hover {background-color:#2c2c2c; }
#tools:active {background-color:#424242; }

#maintenance {background-color: #2c2c2c;}
#maintenance:hover {background-color: #3f3f3f;}
#maintenance:active {background-color: #4e4e4e;}

#erosion {background-color: #5f5f5f;}
#erosion:hover {background-color: #6b6b6b;}
#erosion:active {background-color: #808080;}

#prototype {background-color: #969696;}
#prototype:hover {background-color: #a5a5a5;}
#prototype:active {background-color: #c0c0c0;}

.content__desactive {
    display: none;
}

.content__active {
    display: block;
}
.sdescription-content {
    width:1200px;
    margin: 70px auto 50px auto; 
    text-align: center;
}
.sdescription-content-txt {
    text-align: left;
}
.images-groupe{
    display: flex;
    justify-content: space-between;
}
.services-img {
    background: #c4c4c4;
    width:580px;
    height: 300px;
    margin: 30px 0px 30px 0px;
}
.sdescription-content-txt {
    margin-top: 30px;
}
