/*--------------------------------------------------------------------------------------------------------------------------
                                                        GENERALE
----------------------------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Cantarell:400,700&display=swap');

body {
    font-family: Cantarell;
    margin: 0px;
}
h1 {
    margin: 0px 0px 10px 0px;
    font-size: 45px;
    color: white;
    font-weight: bold;
}
h2 {
    font-size: 35px;
    color:#A2A2A2;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
}
p{
    color: #424242;
    font-size: 22px;
    text-align: justify;
}
.hr-yellow {
    background-color: #FFE814;
    border:none;
    height: 16px;
}
.hr-banner {
    width: 134px;
    margin-right: 0;
}
.hr-center {
    width: 150px;
}
.hr-presentation {
    width: 134px;
    margin-left: 0;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #FFE814;
}
a:active {
    color: #ffc400;
}
.container {
    padding-top: 70px;
    padding-bottom: 100px;
    background-color: #F3F3F3;
}
input[type=text], input[type=email], input[type=password], textarea{
    margin: 20px 0px 20px 0px;
    padding: 20px;
    background-color: white;
    border: none;
    color: #999999;
    font-size: 20px;
}
textarea {
    font-family: Cantarell;
}
.btn-yellow {
    margin: 25px auto 25px auto;
    padding: 1.5rem;
    background-color: #FFD814;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.btn-medium {
    width: 200px;
}
.btn-large {
    width: 400px;
}
.btn-yellow:hover {
    background-color: #eeb312;
}
.btn-yellow:active {
    background-color: #dba612;
}
.services-nav-block, .btn-yellow {
    cursor: pointer;
}
.images-groupe{
    display: flex;
    justify-content: space-between;
}
.vertical-align {
    display: table-cell;
    vertical-align: middle;
}
.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 63%;
}
textarea {
    height: 250px;
}
.new {
    margin: auto 13% auto 13%;
}
.btn-news {
    margin-left: 20px;
    margin-right: 20px;
}
.btn__desable {
    background-color: grey;
}
.btn__desable:hover {
    background-color: grey;
}
#loader {
    display: table;
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
        background-color:white;
        z-index: 99;
    
}
.desactive-loader {display: none !important;}
.loader-content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
#loader-icon {-webkit-animation: rotation 4s infinite linear;}
    @-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
#tableArticles_wrapper {
    box-shadow: grey 1px 4px 10px;
    padding: 30px;
    margin-bottom: 20px;
}
ul {
     list-style-type: none;
}
.error {
    padding: 1%;
    font-weight: bold;
    color: grey;
}

/*--------------------------------------------------------------------------------------------------------------------------
                                                        Header
----------------------------------------------------------------------------------------------------------------------------*/
header {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #2D2B2B;
    color: white;
    z-index: 99;

}
.out-header {
    width: 100%;
    height: 80px;
}
.hnav {
    display: flex;
    margin-top:40px;
    margin-right: 100px;
}
.hnav-a {
    margin-left:50px;
}
.logo {
    background: #f9f9f9;
    width: 220px;
    height: 80px;
}
#mobileMenu {
    position: fixed;
    width: 300px;
    height: 100%;
    right: 0;
    top: 79px;
    border-top: #eeeeee solid 1px;
    background-color: rgb(58, 58, 58);
    z-index: 10;
}
#mobileMenu-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
}
#header-mobileImg {
    display: none;
    width: 40px;
    height: 30px;
    margin: auto 50px auto 0px;
    cursor: pointer;
}
#mobileMenu li {
    border-bottom: #525252 solid 1px;
    padding:22px;
}
#mobileMenu li:hover {
    background-color: #ffc400;
    color: white;
}
.mobileMenu_active, .mobileMenu-background_active {
    display: block;
}
.mobileMenu_disable, .mobileMenu-background_disable {
    display: none;
}
#mobileMenu ul {
    margin: 0;
    padding: 0;
}


/*--------------------------------------------------------------------------------------------------------------------------
                                                        banner
----------------------------------------------------------------------------------------------------------------------------*/

.banner {
    display: table-cell;
    vertical-align: middle;
    width:100000px;
    height: 472px;
    padding: 0px 5% 0px 5%;
    background: url('http://localhost/GCPlastic/app/public/images/banner.jpg') no-repeat center center;
    background-size: cover;
    text-align: right;
}

.banner p {
    text-align: right;
    display: inline-block;
    right:0;
    width: 50%;
    min-width: 500px;
    color: white;
}
#banner-title {
    opacity: 0;
}

/*--------------------------------------------------------------------------------------------------------------------------
                                                        Footer
----------------------------------------------------------------------------------------------------------------------------*/

footer {
    display: flex;
    width:100%;
    height: 230px;
    background-color: #1f1f1f;
    color: white;
    text-align: center;
}

.fdiv {
    display: flex;
    flex-direction: column;
    width: 320px;

}

.fdiv-rborder {
    border-right: #4e4e4e 1px solid;
}
.fdiv-white {
    background-color : #f1f0f0;
}
.fdiv-white, .fdiv-white a {
    color : #272727;
}
.fdiv-white a:hover {
    color:#f5d51d;
}
.fdiv-white a:active {
    color: #ffc400;
}
.fdiv-icon {
    margin: 0px auto 10px auto;
}

.fdiv-icon-location {
    width: 34px;
    margin-top: 55px;
}
.fdiv-icon-mail {
    width: 51px;
    margin-top: 75px;
}
.fdiv-icon-phone {
    width: 50px;
    margin-top: 75px;
}
.fdiv-white {
    padding-top: 55px;
}
/*--------------------------------------------------------------------------------------------------------------------------
                                                        Accueil
----------------------------------------------------------------------------------------------------------------------------*/
#slideshow {
    display: table;
    height: 586px;
    width: 100%;
    background: url("http://localhost/GCPlastic/app/public/images/image-1.jpg");
    border-bottom: 16px solid#ffe814;
}
.slideshow-content {
    display: flex;
    justify-content: space-between;
    margin: auto 60px auto 60px;   
}
.presentation {
    display: flex;
    height: 851px;
}
.pimg-tools {
    width: 48%;
    background: url("http://localhost/GCPlastic/app/public/images/tool.jpg") right;
}
.p-text {
    padding: 40px;
    width: 52%;
}
.last-new {
    text-align: center;
    background-color: #ECECEC;
}
#lnew-content, .news-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 540px;
    width: auto;
    background: #838383;
    margin: 40px 12% 30px 12%;
}
.lnew-content-txt, .news-content-txt  {
    height: 185px;
    text-align: left;
    padding: 30px;
    background-color: black;
    color: #ffffff;
    opacity: 0.6;
    cursor: pointer;
}
.lnew-content-txt:hover, .news-content-txt:hover {
    opacity: 1;
}
.lnew-content-txt:active, .news-content-txt:active {
    opacity: 0.7;
}
#lnc-txt-p, .news-txt-p {
    color: white;
}
#spause {
    margin-right: 20px;
}
#sarrow-left, #sarrow-right, #spause, #splay {
    opacity: 0.8;
    cursor: pointer;
}
#sarrow-left:hover, #sarrow-right:hover, #spause:hover, #splay:hover {
    opacity: 1;
    cursor: pointer;
}
#sarrow-left:active, #sarrow-right:active, #spause:active, #splay:active {
    opacity: 0.7;
    cursor: pointer;
}
.sbutton-groupe {
    display: flex;
}
.sstop-button__active {
    display: block;
}
.sstop-button__desable {
    display: none;
}
.sc-vertical-align {
    display: table-cell;
    vertical-align: middle;
}
/*--------------------------------------------------------------------------------------------------------------------------
                                                        Parc machines
----------------------------------------------------------------------------------------------------------------------------*/
.park {
    margin: auto;
    text-align: center;
}
#park-p {
    text-align: left;
}
#park-list {
    display: flex;
    justify-content: flex-start;
    background-color: #2D2B2B;
    text-align: left;
    color: white;
    width:80%;
    margin: 30px auto 30px auto;
}
#park-p {
    width:80%;
    margin: auto;
}
#park-list h4 {
    font-size: 22px;
}
#park-list h5 {
    font-size: 19px;
    color: #b8b8b8;
}
#park-list p {
    color: #888888;
    font-size: 17px;
}
.park-list-content{
    margin: 4%;
}
.park-nav {
    display: flex;
    justify-content: space-around;
}
.nav-left, .nav-center, .nav-right {
    display: flex;
    flex-direction: column;
}
#nav-left-img, #nav-right-img {
    width: 400px;
    height: 200px;
    background: gray;
    opacity: 0.8;
    cursor: pointer;
}
#nav-center-img {
    width: 500px;
    height: 250px;
    background: grey;
}
#nav-left-img, #nav-right-img {
    margin-top: 25px;
}
.park-nav {
    margin: 30px;
}
#pbtn-arrow-left, #pbtn-arrow-right {
    width: 40px;
    height: 70px;
    opacity: 0.8;
    cursor: pointer;
}
#pbtn-arrow-left:hover, #pbtn-arrow-right:hover, #nav-left-img:hover, #nav-right-img:hover {
    opacity: 1;
}
#pbtn-arrow-left:active, #pbtn-arrow-right:active, #nav-left-img:active, #nav-right-img:active {
    opacity: 0.8;
}
.park__active {
    display: block;
    opacity: 1;
}
.park__desable {
    display: none;
}
.park__transition {
    transition: opacity 10s;
    opacity: 0;
}
/*--------------------------------------------------------------------------------------------------------------------------
                                                        actualités
----------------------------------------------------------------------------------------------------------------------------*/
.news .container {
    text-align: center;
}
#paging {
    display: none;
}
.paging__active {
    display: block !important;
}
.news-content__active {
    display: flex;
}

.news-content__desable {
    display: none;
}
/*--------------------------------------------------------------------------------------------------------------------------
                                                        actualité
----------------------------------------------------------------------------------------------------------------------------*/
.new {
    text-align: center;
}
#new-txt-title{
    font-size: 24px;
}
.new-arrow-left .new-arrow-right .new-image {
    width: 40px;
    height: 65px;
    margin-top: 50vh;
}
.new-arrow-left:hover, .new-arrow-right:hover{
    opacity: 0.8;
    cursor: pointer;
}
.new-arrow-left:active, .new-arrow-right:active{
    opacity: 1;
}
.new-image {
    width: 100%;
    height: 500px;
    background-color: grey;
    margin: 30px auto 30px auto;
}
.new-image-groupe {
    margin: auto;
}
.new-txt {
    margin-bottom: 20px;
    padding: 30px 50px 50px 50px;
    background-color: #2D2B2B;
    color: white;
    text-align: left;
}
#new-txt-p{ color: white; }
.vertical-align {
    margin-top: auto;
    margin-bottom: auto;
}
/*--------------------------------------------------------------------------------------------------------------------------
                                                        Contact
----------------------------------------------------------------------------------------------------------------------------*/
.contact-mail {
    color: #ffc400;
}
.buttonContact-content {
    margin: auto;
    text-align: center;
}
/*--------------------------------------------------------------------------------------------------------------------------
                                                        Services
----------------------------------------------------------------------------------------------------------------------------*/
#services-nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
    margin: 50px auto 70px auto; 
}

.services-nav-block {
    position: relative;
    width: 24%;
    height: 370px;
    padding: auto;
}
.snav-block-content {
    width: 80%;
    padding:10%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

#tools {background-color: #000000;}
#tools:hover {background-color:#2c2c2c; }
#tools:active {background-color:#424242; }

#maintenance {background-color: #2c2c2c;}
#maintenance:hover {background-color: #3f3f3f;}
#maintenance:active {background-color: #4e4e4e;}

#machining {background-color: #5f5f5f;}
#machining:hover {background-color: #6b6b6b;}
#machining:active {background-color: #808080;}

#prototype {background-color: #969696;}
#prototype:hover {background-color: #a5a5a5;}
#prototype:active {background-color: #c0c0c0;}

.content__desactive {
    display: none;
}

.content__active {
    display: block;
}
.sdescription-content {
    max-width:1200px;
    margin: 70px auto 50px auto; 
    text-align: center;
}
.sdescription-content-txt {
    text-align: justify;
    padding: 30px;
}
.services-img {
    background: #c4c4c4;
    width: 530px;
    height: 300px;
    margin: 30px auto 30px auto;
}
.sdescription-content-txt {
    margin-top: 30px;
}
/*--------------------------------------------------------------------------------------------------------------------------
                                                        Article Manager
----------------------------------------------------------------------------------------------------------------------------*/
.articlesManager{ 
    margin: auto;
   width: 80%;
}
.button-div {
    text-align: center;
}
.articlesManager a {
    color: #f5d51d;
}
.articlesManager a:hover {
    color: #eeb312;
}
.articlesManager a:active {
    color: #cccccc;
}
/*--------------------------------------------------------------------------------------------------------------------------
                                                        Update article
----------------------------------------------------------------------------------------------------------------------------*/
.updateArticle-image {
    background: grey;
    width: 1040px;
    height: 432px;
    margin: 30px auto 30px auto;
}
.updateArticle-imageForm {
    margin: auto auto 30px auto;
}

/*------------------------------------------------------------------------------------------------------------------------------
                                                        Responsive design 
------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1550px) {
    #nav-left-img, #nav-right-img {
        display: none;
    }
    #park-milling, #park-tower, #park-erosion, #park-injection, #park-grinding {
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (max-width: 1100px) {
    .hnav {display: none;}
        #header-mobileImg {
            display: flex;
        }
        .fdiv-1 {
            display: none;
        }
        .fdiv-6 {
            display: none;
        }
        .images-groupe { 
            flex-direction: column;
        }
}
@media screen and (max-width: 885px) {
    .banner {
        padding: 0px 20% 0px 20%; 
    }
    .banner p {
        width: auto;
        min-width: auto;
        text-align: justify;
    }
    #banner-title {
        font-size: 26px;
    }
    #pbtn-arrow-left, #pbtn-arrow-right {
        width: 50%;
        height: 50%;
    }
    #park-p {
        font-size: 20px;
    }
    .park-nav {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    #nav-center-img {
        width: 250px;
        height: 125px;
    }
    #park-list {
        flex-direction: column;
        padding: 4%;
    }
    .park-list-left, .park-list-center {
        margin: 5% auto 5% auto;
    } 
    .btn-large {
        font-size: 15px;
        padding: 1.2rem;
        width: 200px;
    }
    .btn-medium {
        font-size: 13px;
        padding: 1rem;
        width: 150px;
    }
    .new {
        margin: 0px 5% 0px 5%;
    }
    #new-txt-p {
        font-size: 18px;
    }
    #new-txt-title{
        font-size: 20px;
    }
    .form {
        width: 85%;
    }
    .pimg-tools {
        display:none;
    }
    .p-text {
        width :100%;
    }
    .p-text p {
        text-align: justify;
    }

    .presentation {
        height: auto;
    }
    input[type=text], input[type=email], input[type=password], textarea, p {
        font-size : 20px;
    }
    h2 {
        font-size: 24px;
    }
    #lnew-content, .news-content {
        margin-left: auto;
        margin-right: auto;
    }
    footer {
        flex-direction: column;
    }
    .fdiv {
        width: auto;
    }
    .fdiv-2, .fdiv-3, .fdiv-4 {
    background-color: black
    }
    .fdiv-4, .fdiv-5 {
        padding-bottom: 50px;
    }
    #services-nav {
        flex-direction: column;
    }
    .services-nav-block {
        margin: 10px auto 10px auto;
        width: 70%;
    }
    .services-img {
        width: 80%;
    }
}
@media screen and (max-width: 645px) {
    #sarrow-left, #sarrow-right {
        width: 20px;
        height : 33px;
    }
    #splay { 
        width: 32px;
        height: 32px;
    }
    #spause {
        width: 20px;
        height: 31px;
    }

}
